body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.heading {
  font-size: 50px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recent-scores {
  font-size: 30px;
}

.refresh-button {
  font-size: 20px;
  border: 2px solid #000;
  box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.75);
}

.refresh-button:hover,
.refresh-button:focus,
.refresh-button:active,
.submit-button:hover,
.submit-button:focus,
.submit-button:active {
  background-color: #000;
  cursor: pointer;
  color: #f2f2f2;
}

.score-container {
  border: 1px solid black;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 70% 10px 10px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.score-container:nth-child(odd) {
  background-color: #f2f2f2;
}

.list-item {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.add-score {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-score-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-input,
.score-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.75);
}
